<?xml version="1.0"?>
<model>
  <name>Oblique Cone</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
   <name>Anson Mak</name>
   <email>ansonmak1997@gmail.com</email>
  </author>

  <description>
    oblique cone for rocking and walking simulation.
  </description>
</model>
