<?xml version="1.0"?>
<model>
  <name>Cable Cone</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
   <name>Anson Mak</name>
   <email>ansonmak1997@gmail.com</email>
  </author>

  <description>
    Cone connected with cable for rocking and walking simulation.
    model.sdf used the cone modeled by simple geometry
    model_v2.sdf used the cone modeled by SolidWorks to simulate the actual cone for experiment
  </description>
</model>
